<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/send" method="post">
    	message1 : <input type="text" name="message1"><br>
    	message2 : <input type="text" name="message2"><br>
    	<input type="submit" value="전송">
    </form>
  </body>
</html>